body {
    margin: 0;
}

.starting-sentence {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 10%;
    color: azure;
}

.strating-div {
    background: rgba(0, 0, 0, 0.7) url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    padding: 1px;
    margin: 0;
    height: 600px;
    background-size: cover;
}

.lily {
    padding-left: 30%;
    padding-right: 30%;
    color: azure;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.hire-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.aligntext {
    padding-top: 25px;
    text-align: center;
}

.second-section h1 {
    font-family: 'Rubik', sans-serif;
    color: black;
    text-align: center;
    font-size: 50px;
    padding-top: 5%;
}

.second-section p {
    color: black;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
    text-align: center;
}

.a {
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
}

.box {
    padding-left: 30%;

}

.b {
    color: tomato;
    background-color: rgba(194, 72, 50, 0.192);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid red;
    padding-left: 0;
    height: 100px;
    width: 100px;
}

.c {
    padding-left: 5px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
}

.d {
    padding-left: 5px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
}

.e {
    padding-left: 5px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
}

.other {
    margin-left: 43.5%;
}

.dplan {
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    padding-bottom: 150px;
}

.plans {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 5px;
    text-align: left;
    display: inline-block;
    height: 300px;
    width: 25%;
}

#food {
    background-color: rgb(231, 243, 239);
}

#shelter {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f1e3e4;
}

#child-education {
    background-color: rgb(255, 255, 213);
}

.orange-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 4%;
}

.half-width h1 {
    font-size: 32px;
}

.half-width img {
    width: 80%;
}

.extra {
    font-size: 25px;
    text-align: justify;
}



.updates {
    height: 350px;
    text-align: center;
}

.vallagena {
    align-self: center;
    width: 50%;
    height: 40px;
    margin-left: 300px;
    padding: 60px;
    background-color: rgb(93, 87, 74);
}

#email {
    border: none;
    border-radius: 5px;
    color: rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
    padding: 15px 30px;
    text-decoration: none;
    margin: 0;
}

#btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #9a2529;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

footer {
    background-color: rgb(160, 213, 180);
    height: 100px;
    padding: 10px;
}

footer h5 {
    text-align: center;
    color: black;
    font-size: 15px;
}

footer p {
    color: rgb(33, 53, 98);
    text-align: center;
    font-size: 12px;
}

.amlan {
    text-align: right;
    color: darkred;
    font-size: 10px;
    font-weight: 400;
}